$primary: #cf3a47;
$secondary: green;
$danger: red;

$theme-colors: (
    "primary": #cf3a47,
    "secondary": $secondary
);

$custom-colors: (
    "custom-color": red);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px    
);

.font_Inicio {
    color: azure;
    border-radius: 5px;
    background-color: #cf3a47;

}

.font_Inicio:hover {
    color: azure; 
    background-color: #a5232e;

    transition: background-color .5s;
}

$theme-colors: map-merge($theme-colors, $custom-colors);

